.navbar {
    background-color: black;
}

.logo {
    width: 232px;
}

.navbar_body {
    display: flex;
    align-items: center;
    padding: 3rem 0;
    max-height: 117px;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar_navigation {
    display: flex;
    align-items: center;
}

.navbar_list {
    display: none;
    margin: 0 3rem;
}

.navbar_list li a::before {
    background: white;
    height: 2px;
    width: 0;
    opacity: .5;
    border-radius: 1rem;
    content: "";

    position: absolute;
    transform: translate(-50%, 0);
    left: 60%;
    bottom: -35%;
    
    transition: 300ms;
}

.navbar_list li:hover a::before {
    width: 65px;
    transition: 300ms;
}

.navbar_list li {
    display: inline-block;
    text-transform: uppercase;
    margin: .5rem 1rem;
    position: relative;
}

.navbar_list li a {
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-size: .9rem;
    color: white;
    text-decoration: none;
}

.navbar_list li a span {
    margin-left: .5rem;
}

.navbar_search {
    padding: .6rem;
    background-color: white;
    background: white;
    border-radius: 100%;
    color: black;
    transition: .4s;
}
    

.navbar_search:hover {
    color: white;

    background: linear-gradient(124deg, #d7360f, #fe9855, #cf619a, #a1044f);
    background-size: 1800% 1800%;
    
    animation: rainbow-animation 2s infinite;
}

@keyframes rainbow-animation {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

/*.navbar_mobile {
    
}*/

.mobile_button {
    margin-left: 3rem;
    display: inline-block;
}


@media screen and (min-width: 968px) {
    .navbar_body {
        max-width: var(--max-width);
    }
    
    .navbar_list {
        display: block;
    }
}