.footer {
    box-shadow: 0px -2px 2px 0px #c5c5c5;
    font-family: 'Poppins', sans-serif;
}

.footer_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    transition: .4s;
}

.footer_links a {
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
}

.footer_links li {
    display: block;
    text-align: center;
    padding: 1rem;
}

.copyright {
    font-weight: 400;
    font-size: .7rem;
    text-align: center;
    color: rgb(105, 105, 105);
}

@media screen and (min-width: 475px) {
    .footer_links li {
        display: inline-block;
    }
    .footer_body {
        padding: 3rem 0;
        transition: .4s;
    }   
}