@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

:root {
    --max-width: 1224px;
}

body {
    font-family: poppins, sans-serif;
}

h1, h2, h3, h4, p {
    font-family: poppins, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 250ms;
}

a:hover {
    color: #eb3349;
    transition: color 250ms;
}