/* 
 * Carrousel
 */
.carrousel_container {
  background-image: url(./images/flower-background.jpg);
  height: 374px;
}

.feature_carrousel {
  margin: 0 auto;
  min-width: 700px;
  max-width: 991px;
  width: 60%;
}

.feature_carrousel img{
  max-width: 570px;
  height: 222px;
  padding: 0 1rem;
}

/* 
 * FeaturedCompleted
 */
.feature_completed {
  margin: 4rem 0;
}

.section_title {
  margin: 0 auto;
  width: 85%;
  padding: .3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.185);
  max-width: var(--max-width);
}

.icon {
  display: inline-block;
  background: black;
  max-width: 30px;
  padding: .4rem;
}

.section_title h2 {
  display: inline-block;
  margin-left: 1rem;
  font-family: 'Poppins';
  font-weight: 600;
  text-transform: uppercase;
}

/* 
 * FeaturedCompleted Container
 */

 .item_container {
   display: flex;
   width: 85%;
   margin: 0 auto;
   max-width: var(--max-width);
 }

 /* 
 * FeaturedItem
 */
.featured_item_container {
  font-family: 'Poppins';
  width: 30%;
  min-width: 250px;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.manga_image {
  margin-top: 3rem;
}

.manga_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

.manga_info .manga_title {
  display: inline-block;
}

.manga_title h2 {
  font-weight: 500;
  margin-bottom: .4rem;
}

.manga_title h3 {
  color: #656565;
  font-size: .8rem;
  font-weight: 500;
}

.manga_info .manga_rating {
  display: inline-block;
  vertical-align: top;
}

.manga_description {
  color: #656565;
  width: 100%;
  line-height: 2;
}

.featured_list_container {
  width: 70%;
  font-family: 'Poppins';
}

.featured_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  grid-gap: 20px;
  padding: 1rem;
  justify-items: center;
  justify-content: center;
}

.featured_list_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.manga_info_card {
  margin: .5rem 0;
}

.manga_info_card h2{
  font-weight: 500;
}

.manga_info_card h3 {
  font-weight: 400;
  font-size: .8rem;
}


.card_image img {
  width: 100%;
}