/* FeatureCarrousel.tsx */
.feature_carrousel {
  background-image: url('../../../styles/images/flower-background.jpg');
  padding: 3rem;
}

.carrousel_container {
  max-width: 93%;
  margin: 0 auto;
}

.image_container {
  width: 525px;
  height: 270px;
  position: relative;
  margin: 0 auto;
  border: .3rem solid white !important;
  border-radius: .5rem;
  font-family: 'Poppins', sans-serif;
}

.carrousel_image {
  background: white;
}

/* FeaturedCompleted.tsx */
.feature_completed {
  margin: 4rem 0;
}

.item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: var(--max-width);
}

/* FeaturedManga.tsx */
.featured_item_container {
  font-family: 'Poppins';
  width: 100%;
  min-width: 250px;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.manga_image {
  margin-top: 3rem;
}

.manga_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

.manga_info .manga_title {
  display: inline-block;
}

.manga_title h2 {
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.manga_title h3 {
  color: #656565;
  font-size: 0.8rem;
  font-weight: 500;
}

.manga_info .manga_rating {
  display: inline-block;
  vertical-align: top;
}

.manga_description {
  color: #656565;
  width: 100%;
  font-size: 14px;
  line-height: 2;
}

.readmore {
  text-decoration: none;
  display: block;
  margin-top: 0.3rem;
  width: 100%;
  color: #929292;
}

/* FeaturedList.tsx */
.manga_list_container {
  width: 100%;
  font-family: 'Poppins';
}

.manga_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  grid-gap: 20px;
  padding: 1rem;
  justify-items: center;
  justify-content: center;
}

.manga_list_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.manga_list_item .card_image a {
  display: block;
}

.manga_list_item .card_image img{
  transition: .5s;
}

.manga_list_item:hover .card_image img {
  transform: scale(1.1);
  filter: brightness(.7) contrast(1.2);
  transition: .5s;
}

.manga_item_type {
  position: absolute;
  bottom: 3px;
  padding: .3rem;
  color: white;
  font-weight: 400;
  background: #002efa91;
  font-size: .8rem;
}

.manga_item_isAdult {
  background: #fa000c91;
  color: white;
  font-weight: 400;
  font-size: .8rem;
  padding: .3rem;
  border-radius: .3rem;
  
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.card_image {
  overflow: hidden;
  position: relative;
}

.card_image a {
  position: relative;
}

.card_image img {
  width: 100%;
}

.manga_info_card {
  margin: 0.5rem 0;
}
.manga_name {
  margin: .3rem 0;
}

.manga_name a {
  font-weight: 500;
}

.manga_category a {
  color: #656565;
  
  font-size: 0.8rem;
  font-weight: 500;
}

/* LastMangaUpdates.tsx */
.last_updates {
  margin: 5rem 0;
}

.last_updates_container {
  max-width: var(--max-width);
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .section_title {
    width: 85%;
  }
  
  .item_container {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: 475px){
  .item_container {
    width: 85%;
  }
}