/* FeatureCarrousel.tsx */
.carrousel_container {
  background-image: url('../../../styles/images/flower-background.jpg');
  height: 374px;
}

.feature_carrousel {
  margin: 0 auto;
  min-width: 700px;
  max-width: 991px;
  width: 60%;
}

.feature_carrousel img {
  max-width: 570px;
  height: 222px;
  padding: 0 1rem;
}

/* FeaturedCompleted.tsx */
.feature_completed {
  margin: 4rem 0;
}

.section_title {
  margin: 0 auto;
  width: 100%;
  padding: 0.3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.185);
  max-width: var(--max-width);
}

.icon {
  display: inline-block;
  background: black;
  max-width: 30px;
  padding: 0.4rem;
}

.section_title h2 {
  display: inline-block;
  margin-left: 1rem;
  font-family: 'Poppins';
  font-weight: 600;
  text-transform: uppercase;
}

.item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  max-width: var(--max-width);
}

/* FeaturedManga.tsx */
.featured_item_container {
  font-family: 'Poppins';
  width: 100%;
  min-width: 250px;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.manga_image {
  margin-top: 3rem;
}

.manga_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

.manga_info .manga_title {
  display: inline-block;
}

.manga_title h2 {
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.manga_title h3 {
  color: #656565;
  font-size: 0.8rem;
  font-weight: 500;
}

.manga_info .manga_rating {
  display: inline-block;
  vertical-align: top;
}

.manga_description {
  color: #656565;
  width: 100%;
  line-height: 1.7;
}

.readmore {
  text-decoration: none;
  display: block;
  margin-top: 0.3rem;
  width: 100%;
  color: #929292;
}

/* FeaturedList.tsx */
.manga_list_container {
  width: 100%;
  font-family: 'Poppins';
}

.manga_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  grid-gap: 20px;
  padding: 1rem;
  justify-items: center;
  justify-content: center;
}

.manga_list_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.manga_info_card {
  margin: 0.5rem 0;
}

.manga_info_card h2 {
  font-weight: 500;
  margin: .3rem 0;
}

.manga_info_card h3 {
  color: #656565;
  
  font-size: 0.8rem;
  font-weight: 500;
}

.card_image img {
  width: 100%;
}

/* LastMangaUpdates.tsx */
.last_updates {
  margin: 5rem 0;
}

.last_updates_container {
  max-width: var(--max-width);
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .section_title {
    width: 85%;
  }
  
  .item_container {
    flex-direction: row;
    align-items: flex-start;
  }
}