.searchbox {
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    padding: 0 15%;
    z-index: var(--z-searchbox);
}

.searchbox {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchbox {
    background: rgba(0, 0, 0, 0.404);
    display: none;
}

.searchbox.active {
    display: flex;
}

.search_form {
    background: rgba(0, 0, 0, 0.815);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: var(--max-width);
    padding: 1rem;
    border-radius: .8rem;
}

.search_group {
    width: 85%;
    display: flex;
    align-items: center;
}

.search_group label {
    color: #eb3349;
}

.search_group input {
    background: transparent;
    
    color: white;
    border: none;

    width: 92%;
    padding: .2rem;
    margin: .3rem;
}

.search_group input::placeholder {
    border-bottom: 2px solid #eb3349;
    font-size: 1rem;
    font-weight: 500;
}

.search_group input:focus::placeholder {
    border-bottom: none;
}

.search_group input {
    font-family: 'Poppins', sans-serif;
    transition: .5s;
}

.search_group input:focus {
    font-size: 1rem;
    padding-left: 1rem;
    border-bottom: 2px solid #1e6eff;
    outline: none;
    transition: .5s;
}

.submit_button {
    background: #eb3349;
    color: white;
    font-family: 'Poppins';
    font-weight: 500;

    border: none;
    padding: .3rem 1rem;
    border-radius: 1rem;
    transition: .5s;
}

.submit_button:hover {
    background: #b6293a;
    transform: scale(1.05);
    transition: .5s;
}

.search_results {
    background: rgba(0, 0, 0, 0.336);
    user-select: none;
    overflow: auto;

    width: 100%;
    max-width: var(--max-width);
    max-height: 400px;
    
    border-radius: 1rem;
    padding: .5rem;
}
.search_results::-webkit-scrollbar {
    width: .6rem;
}

.search_results::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.404);
}
  
.search_results::-webkit-scrollbar-thumb {
    background-color: white;
    border: 3px solid rgba(255, 255, 255, 0.400);
    border-radius: 20px;
}

.empty_result {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.search_item {
    margin: 0 auto;
    padding: .2rem;
    transition: .5s;
}

.search_item:hover {
    background: rgba(255, 255, 255, 0.329);
    border-radius: 1rem;
    transition: .5s;
}

.search_item a {
    margin: 1rem 0;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}

.search_item_image {
    min-width: 100px;
    min-height: 144px;
    position: relative;
}

.search_item_image img {
    border-radius: .5rem;
}

.search_item a {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.search_item_info {
    margin: 0 .8rem;
    width: 120px;
    min-width: 89px;
}

.search_item_info h3 {
    font-size: 1.2rem;
}

.search_item_info p {
    font-size: .9rem
}

.search_item_desc {
    display: none;
}

@media screen and (max-width: 425px) {
    .searchbox {
        padding: 0 5%;
    }
}

@media screen and (min-width: 768px) {
    .search_item_desc {
        display: block;
        max-width: 600px;
        margin: 0 .5rem;
        font-size: .8rem;
    }
}

@media screen and (min-width: 968px) {
    .search_item_desc {
        font-size: .9rem;
    }
}